<!DOCTYPE html>
<html>

<head>
    <title>category</title>
</head>

<body>
    <div class="container" style="margin-top:15%;width:30%">
        <div className="row">
            <form id="loginform">
                <h2 align="center">category</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="categoryInput" placeholder="category">
                </div>
                <button id="addButton" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>


    <script src="/js/category.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>