<!DOCTYPE html>
<html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container justify-content-center">
        <nav class="navbar navbar-light bg-light">
            <div style="display: flex; justify-content: space-between;">
                <h1 class="display-1">Question and Answer</h1>
                <button id="logout" class="btn btn-primary" style="height: 50px;">Logout</button>
            </div>

        </nav>
        <div class="row">
            <div class="col-md-8">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                            role="tab" href="/category">Add category</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                            role="tab" href="/addquestion">Add Question</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            role="tab" href="/questionnaire">Answer Questionnaire</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            role="tab" href="/showAnswers">Show Answers</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        if (!localStorage.getItem('token')) {
            document.location.href = '/'
        }
        document.getElementById('logout').addEventListener('click', () => {
            localStorage.clear();
            document.location.href = '/'
        })
    </script>


</body>

</html>