<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" style="margin-top:15%;width:30%">
        <div className="row">
            <form id="answerForm">
                <h2 align="center">Answer Form</h2>
                <div class="form-group">
                    <h2 class="Display-1" id="category"></h2>
                </div>
                <div class="form-group">
                    <h2 class="Display-1" id="question"></h2>
                </div>
                <div class="form-group">
                    <input type="text" name="answer" id="answer" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" id="next" class="btn btn-primary">Next</button>
                    <button type="submit" id="back" class="btn btn-primary">Back</button>
                </div>
                <button type="submit" id="submit" class="btn btn-primary" disabled>SUBMIT</button>

            </form>
        </div>
    </div>

    <script src="js/question.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>